/* ------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
/* ------------ */
body {
  font-family: monospace;
  height: 100%;
}
h1 {
  width: 100%;
  margin-bottom: 40px;
  color: hotpink;
  font-size: 48px;
  text-shadow: #2d848a29 0px 1px 3px, #2d848a 0px 2px 3px;
}
/* ------------ */
.container {
  /* height: 100%; */
  width: 100%;
  max-width: 570px;
  margin: 30px auto;
  padding: 40px;
  border-radius: 10px;
  /* border: #2d848a 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.25) 15px 14px 28px, rgba(0, 0, 0, 0.22) 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ------------ */
.form {
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 80px;
  grid-column-gap: 10px;
  
}
.form-select{
  border: 1px;
	padding:3px;
	overflow:hidden;
	background:white;
	border-radius:5px;
  box-shadow: #2d848a29 0px 3px 6px, #2d848a 0px 3px 6px;
}
.form-submit {
  outline: none;
  border: 1px solid #2d848a;
  background-color: #2d848a;
  box-shadow: #2d848a29 0px 3px 6px, #2d848a 0px 3px 6px;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 14px;
  line-height: 36px;
  color: white;
  font-size: larger;
}
.form-submit:focus {
  box-shadow: 0 0 0 0.5px rgb(153, 153, 153);
}
.cards {
  display: flex;
  margin: 50px 0;
  width: 100%;
}
.card-item {
  width: 100%;
  padding: 5px 20px 20px;
  border: 1px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(252, 4, 182, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.card-activity {
  line-height: 1.2;
  margin-top: 10px;
}
.tag-error {
  width: 100%;
  text-align: center;
  padding: 5px 20px 20px;
  border: 1px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(252, 4, 182, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/* ------------ */
.is-element-hidden {
  display: none;
}

footer{
  margin: 5% 0;
  text-align: center;
}

/* ------------ */
@media (max-width: 620px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
  }
  .form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
